.card-box {
  position: relative;
  perspective: 1000px;
  background-color: rgb(243, 244, 246);
}

.card-box:hover .card {
    transform: rotateY(180deg);
  }

.card {
  height: inherit;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.front-card {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front-card.back-card {
  transform: rotateY(180deg);
}