.carta-box {
  position: relative;
  perspective: 1000px;
  background-color: rgb(243, 244, 246);
}

.carta-box:hover .carta {
    transform: rotateY(180deg);
  }

.carta {
  height: inherit;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.cara {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.cara.detras {
  transform: rotateY(180deg);
}